.header__login{order: 2}
.header__logo{width: 7rem}
.header__login{margin-left: auto;}

.header__container{
  row-gap: 1rem;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  max-height: 6rem;
  max-width: var(--max__width_l);
  font-family: var(--font__raleway);
  padding: var(--padding__s) var(--padding__s);
}

.header__search{
  width: 35%;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 3rem;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gray);
  padding: var(--padding__xs) var(--padding__s);
  margin-left: var(--padding__l);
}

@media screen and (max-width: 600px) {
  .header__login{order: 0; margin-left: 0;}
  .header__search-input:not(:focus){width: 0}
  .header__container{justify-content: space-between}
  .header__search:focus-within{background-color: var(--gray)}
  .header__search-input:not(:placeholder-shown){width: 100vw}
  .header__search-input::placeholder{color: var(--light__gray)}
  .header__search{width:auto; background-color: transparent; margin: 0;}
  .header__search:has(.header__search-input:is(:not(:placeholder-shown))){width: 100vw; background-color: var(--gray)}

  .header__search-input{
    width: 100vw;
    color: var(--black__gray);
    transition: all 0.6s ease-in-out;
  }
}