.products__card-img {width: 100%}
.products__card-price {font-weight: var(--text__weight-b)}
.products__card-btn {color: var(--blue);font-weight: var(--text__weight-b)}
.products__title {font-size: var(--text__size-m);}

.products__texts, .products__card, .products__link{
  display: flex;
  color: var(--black__gray);
  justify-content: space-between;
}

.products__link {
  gap: 0.5rem;
  color: var(--blue);
  align-items: center;
  font-size: var(--text__size-xs);
  font-weight: var(--text__weight-b);
}

.products__cards-container {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}


.products__card {
  gap: 0.5rem;
  flex-direction: column;
  align-items: flex-start;
  background-color: transparent;
  font-size: var(--text__size-xs);
}

